bucket           = "${BUCKET}"
region           = "${AWS_REGION}"
service          = "${SERVICE}"
hub_account_id   = "${HUB_ACCOUNT_ID}"
spoke_account_id = "${SPOKE_ACCOUNT_ID}"
host             = "${HOST}"
ado              = {AZP_URL   = "https://dev.azure.com/<ORGANIZATION>", AZP_POOL  = "<AGENT_POOL_NAME>", AZP_TOKEN = "<PERSONAL_ACCESS_TOKEN>"}
