tenant               = "${FRAMEWORK_ENVIRONMENT_TENANT}"
blueprint            = "${FRAMEWORK_BLUEPRINT_NAME}"
service              = "${FRAMEWORK_SERVICE_NAME}"
repository           = "${BUILD_REPOSITORY_NAME}"
environment          = "${FRAMEWORK_ENVIRONMENT_NAME}"
creator              = "${FRAMEWORK_BLUEPRINT_NAME}"
terraform_backend_rg = "${TERRAFORMBACKENDRG}"
terraform_backend_st = "${TERRAFORMBACKENDST}"
public_cert_data     = "${PUBLIC_CERT_DATA}"
